<h1>Full Tragic Character List</h1>
<ul>
  <% @characters.each do |character| %>
    <li>
      <a href="/characters/<%= character[:id] %>/statuses"><%= character[:name] %> </a>
    </li>
    <br>
  <% end %>
</ul>
<a href="/characters/new">New Character</a>

<br>
<br>
<br>
<br>
<p>
  What you see above is a very simple database that is being run on my Ruby server and
  rendered by a demo controller, using this view. You can click on characters to
   see a few sample quotes or add a new character with the above link. The
   purpose of this demo is to show my server hosting a basic MVC architecture
   set up by the backend code.
</p>

<p>
  My name is Peter Hechler, and I'm a web developer in New York, specializing in
  Rails, JavaScript, and React.js. Below are links to my personal site, GitHub,
  and LinkedIn.

</p>
<br>
<a href="http://peterhechler.com">Personal Site</a>
<br>
<br>
<a href="https://github.com/hechlerp">GitHub</a>
<br>
<br>
<a href="https://www.linkedin.com/in/peter-hechler-ab4238b4">LinkedIn</a>
<br>
<br>
