<form action="/characters" method="POST">
  <label>Name
    <input type="text" name="character[name]" value="">
  </label>

  <input type="submit">
</form>

<a href="/characters"> << Back to character list</a>
