<form action="/characters" method="POST">
  <label>Name
    <input type="text" name="character[name]" value="<%= character.name %>">
  </label>

  <label>Fiction
    <input type="text" name="character[fiction]" value="<%= @character.fiction %>">
  </label>

  <input type="submit">
</form>
